<div class="mb-3">
    <label for="{{ form.username.id_for_label }}" class="form-label">
        Nom d'utilisateur
    </label>

    <input type="text" 
           name="username" 
           class="form-control" 
           required 
           id="id_username">

</div>


<div class="mb-3">
    <label for="{{ form.password.id_for_label }}" class="form-label">
        Mot de passe
    </label>

    <input type="password" 
           name="password" 
           class="form-control" 
           required 
           id="id_password">

</div>